@model ZeeWebApp.ViewModels.POEmployeeCreateViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create TEST</h2>


@using (Html.BeginForm("Create", "POEmployees", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Employee</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.MiddleName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.EntityID, "Entity", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("EntityID", null, "Select Entity", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.EntityID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.StatusID, "Emp Status", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("StatusID", null, "Select Status", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.StatusID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.EmployeeID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.EmployeeID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.EmployeeID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Gender", new List<SelectListItem>
            {
            new SelectListItem { Text = "Male", Value="Male" },
            new SelectListItem { Text = "Female", Value="Female" }
            }, "Select Gender", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.Gender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.MaritalStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.MaritalStatus, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.MaritalStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.NationalityID, "Nationality", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("NationalityID", null, "Select Nationality", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.NationalityID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.DateOfJoining, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.poEmp.DateOfJoining, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.DateOfJoining, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.LastWorkingDay, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.poEmp.LastWorkingDay, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.LastWorkingDay, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.Designation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.Designation, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.BloodGroup, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("BloodGroup", new List<SelectListItem>
            {
            new SelectListItem { Text = "A", Value="A" },
            new SelectListItem { Text = "B", Value="B" },
            new SelectListItem { Text = "AB", Value="AB" },
            new SelectListItem { Text = "O", Value="O" }
            }, "Select Blood Group", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.BloodGroup, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.CompanyTransport, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CompanyTransport", new List<SelectListItem>
            {
            new SelectListItem { Text = "Yes", Value="Yes" },
            new SelectListItem { Text = "No", Value="No" }
            }, "Select One", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.CompanyTransport, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.Education, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.Education, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.Education, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.VisaDesignation, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.VisaDesignation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.VisaDesignation, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.PassportNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.PassportNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.PassportNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.PassportIssueDt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.poEmp.PassportIssueDt, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.PassportIssueDt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.PassportExpiryDt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.poEmp.PassportExpiryDt, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.PassportExpiryDt, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.PassportAtchmtPath, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.PassportAtchmtPath, new { htmlAttributes = new { type = "file", @class = "form-control" } })*@
            <input type="file" name="PassportAtchmtPath" class="form-control" />
            @Html.ValidationMessageFor(model => model.PassportAtchmtPath, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.VisaNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.VisaNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.VisaNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.VisaIssueDt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.poEmp.VisaIssueDt, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.VisaIssueDt, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.VisaExpiryDt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.poEmp.VisaExpiryDt, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.VisaExpiryDt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.VisaAtchmt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.VisaAtchmt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.VisaAtchmt, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.UIDNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.UIDNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.UIDNo, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.EmiratesIdNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.EmiratesIdNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.EmiratesIdNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.EmiratesIdIssueDt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.poEmp.EmiratesIdIssueDt, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.EmiratesIdIssueDt, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.EmiratesIdExpiryDt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.poEmp.EmiratesIdExpiryDt, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.EmiratesIdExpiryDt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.EmiratesIdAtchmt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.EmiratesIdAtchmt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.EmiratesIdAtchmt, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.HouseFlatVillaNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.HouseFlatVillaNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.HouseFlatVillaNo, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.StreetAreaName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.StreetAreaName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.StreetAreaName, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.NearestLandmark, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.NearestLandmark, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.NearestLandmark, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.ResidingEmirateID, "Emirate", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ResidingEmirateID", null, "Select Emirate", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.poEmp.ResidingEmirateID, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.EmpMobNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.EmpMobNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.EmpMobNo, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.EmergencyContactName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.EmergencyContactName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.EmergencyContactName, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.EmergencyContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.EmergencyContactNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.EmergencyContactNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.EmergencyContactNameHmCtry, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.EmergencyContactNameHmCtry, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.EmergencyContactNameHmCtry, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.EmergencyContactNumberHmCtry, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.EmergencyContactNumberHmCtry, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.EmergencyContactNumberHmCtry, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.poEmp.AddressHmCtry, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.poEmp.AddressHmCtry, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.poEmp.AddressHmCtry, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
