@model ZeeWebApp.Models.User

@{
    ViewBag.Title = "Login";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Employees - HR Management System - University of Stirling RAK Campus</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="~/Content/loginscreen.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="/Scripts/modernizr-2.8.3.js"></script>

    @*This page refernce is:https://getbootstrap.com/docs/5.0/examples/sign-in/*@


</head>
<body class="text-center">
    
    <main class="form-signin">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <form>
                <img class="mb-4" src="~/images/PlanetOneLogo.jpg" alt="" width="250">
                <h1 class="h3 mb-3 fw-normal">Sign in</h1>

                <div class="form-floating">

                    @Html.TextBoxFor(model => model.username, new { type = "email", @class = "form-control", placeholder = "name@example.com" })
                    @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "" })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "" })
                    
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.pwd, new { type = "password", @class = "form-control", placeholder = "Password" })
                    @Html.Label("Password", htmlAttributes: new { @class = "" })
                    @Html.ValidationMessageFor(model => model.pwd, "", new { @class = "" })
                </div>

                @*<div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>*@
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2022-2023</p>
            </form>
        }

    </main>


    
  











    
</body>
</html>